<!DOCTYPE html>
{% from "menu.html" import nav_link with context %}
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-book"> bookr</i></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" action="/search" method="get">
                        <input type="text" class="form-control" name="keyword" placeholder="Search books...">
                    </form>
                    {% if session and 'uid' in session %}
                    <ul class="nav navbar-nav navbar-right">
                        {{ nav_link('/shoppingcart', 'Shoppingcart', 'fa-shopping-cart') }}
                        {{ nav_link('/profile', 'Profile', 'fa-user') }}
                        {{ nav_link('/settings', 'Settings', 'fa-wrench') }}
                        {{ nav_link('/orders', 'Orders', 'fa-usd') }}
                        {{ nav_link('/logout', 'Logout', 'fa-sign-out') }}
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        {{ nav_link('/login', 'Login', 'fa-sign-in') }}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% set genres = list_genres() %}
                        {% for genre in genres %}
                        {{ nav_link('/books/' + genre["gid"]|string, genre["name"]) }}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header">{% block page %}{% endblock %}</div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>