{% extends "base.html" %}
{% block title %}Book{% endblock %}
{% block page %}
    <span>{{book['name']}}</span>
{% endblock %}
{% block content %}
{% if not book['deleted'] %}
    <div class="book-container">
        <div class="cover">
            <a href="/book/{{book['bid']}}">
                {% if book['cover'] %}
                <img class="img-responsive cover-img" alt="{{book['name']}}" src="{{book['cover']}}" />
                {% else %}
                <img class="img-responsive cover-img" alt="{{book['name']}}" src="{{ url_for('static', filename='img/no-cover-image.jpg') }}" />
                {% endif %}
            </a>
        </div>
        <div class="name">
            {{book['name']}}
        </div>
        <div class="author">
            {{book['author']}}
        </div>
        <div class="publisher">
            {{book['publisher']}}
        </div>
        <div class="published-year">
            {{book['publisheryear']}}
        </div>
        <div class="isbn">
            {{book['isbn']}}
        </div>
        <div class="description">
            {{book['description']}}
        </div>
        <div class="price">
            {{book['price']}}
        </div>
        <div class="genre">
            {{book['genre_name']}}
        </div>
    </div>

    <div style="margin-top: 10px;margin-bottom: 20px">
        <button id="reading-btn" type="button" class="btn btn-primary btn-xs">Reading</button>
        <button id="read-btn" type="button" class="btn btn-primary btn-xs">Read</button>
    </div>
    <div style="margin-bottom: 20px">
        <div>Your Rating: {{ readingstatus['rating']}}</div>
        <div>Your Status: {{ readingstatus['currentstatus']}}</div>
    </div>
    
    {% if wishlists|length > 0 %}
        <div style="margin-bottom: 20px">
            <form action="/add_to_wishlist" method="post">
                <input type="hidden" name="bid" value="{{ book['bid'] }}"/>
                <select name="wid">
                    {% for w in wishlists %}
                        <option value="{{ w.wid }}">{{ w.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-xs">Add to Wishlist</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form action="/scProcess" method="post">
            <input type="hidden" name="method" value="add">
            <input type="hidden" name="bid" value="{{book['bid']}}"/>
            <select name="quantity">
                {% for n in range(1, 100) %}
                {% if n == book['quantity'] %}
                <option selected value="{{n}}">{{n}}</option>
                {% else %}
                <option value="{{n}}">{{n}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary btn-xs" onclick="this.form.submit()">Add to cart</button>
        </form>
    </div>

    <div class="review-container">
        <h1>Review</h1>
        {% for review in reviews %}
        <div class="review" style="margin: 20px;border: 1px solid gray;padding: 5px;border-radius: 5px">
            <div class="user">
                <div><span style="margin-right: 10px">{{review['firstname']}}</span><span>{{review['lastname']}}</span></div>
                <div class="username">{{review['username']}}</div>
            </div>
            <div class="review-date">
                {{review['reviewdate']}}
            </div>
            <div class="contents">
                {{review['contents']}}
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rating_book.js') }}"></script>
{% else %}
<div>The book is no longer available.</div>
{% endif %}
{% endblock %}