{% extends "base.html" %}
{% block title %}Book{% endblock %}
{% block page %}
    <span>{{book['name']}}</span>
{% endblock %}
{% block content %}
{% if not book['deleted'] %}
    <div class="book-container">
        <div class="cover">
            <a href="/book/{{book['bid']}}">
                {% if book['cover'] %}
                <img class="img-responsive cover-img" alt="{{book['name']}}" src="{{book['cover']}}" />
                {% else %}
                <img class="img-responsive cover-img" alt="{{book['name']}}" src="{{ url_for('static', filename='img/no-cover-image.jpg') }}" />
                {% endif %}
            </a>
        </div>
        <div class="name">
            {{book['name']}}
        </div>
        <div class="author">
            {{book['author']}}
        </div>
        <div class="publisher">
            {{book['publisher']}}
        </div>
        <div class="published-year">
            {{book['publisheryear']}}
        </div>
        <div class="isbn">
            {{book['isbn']}}
        </div>
        <div class="description">
            {{book['description']}}
        </div>
        <div class="price">
            {{book['price']}}
        </div>
        <div class="genre">
            {{book['genre_name']}}
        </div>
    </div>

    <div>[should list all tags and the tag should be clickable] [add to reading list & rating & select tag]</div>

    <div>[add to wishlist]</div>

    <div>
        <form action="/scProcess" method="post">
            <input type="hidden" name="method" value="add">
            <input type="hidden" name="bid" value="{{book['bid']}}"/>
            <select name="quantity">
                {% for n in range(1, 100) %}
                {% if n == book['quantity'] %}
                <option selected value="{{n}}">{{n}}</option>
                {% else %}
                <option value="{{n}}">{{n}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary btn-xs" onclick="this.form.submit()">Add to cart</button>
        </form>
    </div>

    <div class="review-container">
        {% for review in reviews %}
        <div class="review">
            <div class="user">
                <div class="firstname">{{review['firstname']}}</div>
                <div class="lastname">{{review['lastname']}}</div>
                <div class="username">{{review['username']}}</div>
            </div>
            <div class="review-date">
                {{review['reviewdate']}}
            </div>
            <div class="contents">
                {{review['contents']}}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<div>The book is no longer available.</div>
{% endif %}
{% endblock %}