{% macro nav_link(endpoint, name, awesome_font) %}
{% if request.url.endswith(endpoint) %}
    <li class="active">
        <a href="{{ endpoint }}" title="{{name}}">
            {% if awesome_font %}
            <i class="fa {{awesome_font}} fa-lg"></i> <span class="nav-item-title">{{name}}</span>
            {% else %}
            {{name}}
            {% endif %}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ endpoint }}" title="{{name}}">
            {% if awesome_font %}
            <i class="fa {{awesome_font}} fa-lg"></i> <span class="nav-item-title">{{name}}</span>
            {% else %}
            {{name}}
            {% endif %}
        </a>
    </li>
{% endif %}
{% endmacro %}