{% extends "base.html" %}
{% from "list_books.html" import list_books with context %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block page %}
    <span>{{user['firstname']}} {{user['lastname']}}'s profile</span>
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="info">
            <div class="name">
                <span>{{user['firstname']}} {{user['lastname']}}</span>
                {% if session['uid'] != user['uid'] %}
                <span>
                    <form action="/followProcess" method="post">
                        <input type="hidden" name="his_id" value="{{user['uid']}}"/>
                        {% if session['uid'] in followers %}
                        <input type="hidden" name="method" value="unfollow"/>
                        <button class="btn btn-default btn-xs" type="button" onclick="this.form.submit()">Unfollow</button>
                        {% else %}
                        <input type="hidden" name="method" value="follow"/>
                        <button class="btn btn-default btn-xs" type="button" onclick="this.form.submit()">Follow</button>
                        {% endif %}
                    </form>
                </span>
                {% endif %}
            </div>
            <div class="follow">
                <div class="col-md-2"><a href="/followings/{{user['uid']}}">{{followings | length}} following</a></div>
                <div class="col-md-2"><a href="/followers/{{user['uid']}}">{{followers | length}} followers</a></div>
            </div>
        </div>

        <div class="float-fixer"></div>

        <div class="reading-list item">
            <div class="list-header">
                {{user['firstname']}} {{user['lastname']}}'s reading list
            </div>
            <div class="contents row">
                {{list_books(reading_list, 'Currently there is no book in ' + user['firstname'] + ' ' + user['lastname'] + ' reading list.')}}
            </div>
        </div>

        <div class="float-fixer"></div>

        <div class="read-list item">
            <div class="list-header">
                Books {{user['firstname']}} {{user['lastname']}} has read
            </div>
            <div class="contents row">
                {{list_books(read_list, user['firstname'] + ' ' + user['lastname'] + ' has not read any books.')}}
            </div>
        </div>

        <div class="float-fixer"></div>

        <div class="wishlists">
            <div class="list-header">
                <span>{{user['firstname']}} {{user['lastname']}}'s wishlists</span>
                {% if session['uid'] == user['uid'] %}
                <span><button class="btn btn-default btn-xs" type="button" onclick="location.href='/addWishlist';">Add</button></span>
                {% endif %}
            </div>
            <div class="">
                {% if wishlists | length > 0 %}
                <div class="list-group">
                {% for wishlist in wishlists %}
                    <div class="list-group-item"><a href="/wishlist/{{wishlist['wid']}}">{{wishlist['name']}}</a></div>
                {% endfor %}
                </div>
                {% else %}
                <div class="contents">{{user['firstname']}} {{user['lastname']}} does not have any wishlists.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}